<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
       <h1>Carely</h1>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
         
          <button type="button"  class="btn btn-primary me-3" (click)="newCuidador()">
            NewCuidador
          </button>
          <button type="button" [routerLink]="'./sign'" class="btn btn-primary me-3">
            Sign in Cliente
          </button>
          <button type="button" class="btn btn-primary me-3" [routerLink]="'/login'">
            Login Cliente
          </button>
          <!--button type="button" (click)="signinCuidador()" class="btn btn-primary me-3">
            Sign in Cuidador
          </button> -->
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->